*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

header{
	width: 100%;
	height: auto;
	background:transparent;
	
	background-color: black;
}
.header_bar{
	display: flex;
	align-items: center;
	
}
.header_logo img{
	width: 28%;
	margin-left: 60px;
	border-radius: 50px;
}

.header_box{
	width: 70%;
	margin-right:60px;
}
.header_box .social__icon{
	display: flex;
	list-style-type: none;
	text-decoration: none;
	float: right;                            	;
}
.header_box .social__icon li a{
	color: white;
	padding: 20px;
	text-decoration: none;


}
.hero{
	background: url("images/banner-bg.jpg");
	color: red;
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-size:cover;
	transform: rotate(0deg);
	display: flex;
}
.hero_bar{
	display: flex;
	text-align: center;
	width: 50%;
	height: 100%;
	justify-content: center;
	text-align: center;
	color: black;
}
.hero_box{
	
	width: 50%;
	color: white;
	padding: 20px;
	margin-top: 40px;
	margin-left:50px;
}
.hero_box h2{
	font-size: 100px;

}
.hero_box h3{
	font-size: 80px;
	margin: 0px 0px;
}
.hero_box p{
	font-size: 22px;

}
.hero_box .button{
	font-size: 20px;
	margin-top: 40px;
	padding: 10px 30px;
	background-color: red;
	color: white;
	border-radius: 20px;
}
.hero_box .button:hover{
	background: transparent;
	color: red;

}
.container{
	background: url("images/chef-bg.jpg");
	color: red;
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotate(0deg);
	display: flex;


}
.container_box{

	width: 100%;
	align-items: center;
    

}
.container_text{
	width: 100%;
    height: 20%;
	text-align: center;
	align-items: center;
	margin: 50px 0px;
	background-size: cover;	
}
.container_text h1{
	font-size: 50px;
	margin-bottom: 10px;
}
.container_text p{
	font-size: 18px;
	margin: 0px 200px;

}
.container_fluid{
	width: 100%;
	height: 80%;

	display: flex;
	
}
.food__col{
	width: 33%;
    margin-top:0px;
    margin-left:120px;
}
.food__col h2{
	text-align: center;
	margin-right: 30px;
}
.food__col p{
	text-align: center;
	font-size: 20px;
}
.food__img img{
	width: 250px;
	height: 250px;
	border-radius: 100%;
}
.burger{
	background-color: red;
	color: red;
	width: 100%;
	height: 550px;
	display: flex;
}
.burger_box1{
	color: red;
	width: 50%;
	height: 500px;
	margin: 50px 0px;
	text-align: center;

}
.burger_box1 img{
	width: 400px;
	height: 400px;
	border-radius: 100%;
	margin-top: 50px;
}
.burger_box2{
	color:white;
	width: 50%;
	height: 500px;
	margin: 50px 0px;
}
.burger_box2 h1{
	font-size: 50px;
	margin-top: 80px;
}
.burger_box2 p{
	margin: 20px 0px;
	margin-right: 100px;
}
.burger_box2 .btn{
	color: red;
	font-size: 20px;
	padding: 10px 30px;
	margin: 30px 0px;
	border-radius: 20px;
}
.burger_box2 .btn:hover{
	background-color: transparent;
	color: white;
}

.container_fluid1{
	background: url("images/package-bg.jpg");
	color: red;
	width: 100%;
    height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;

}
.food1__col{
	width: 30%;
	height: 500px;
	background-color: white;
	opacity: 0.8;
	margin-top: 100px;
	margin-right: 20px;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: black;
	border-radius: 10px;
}
.food1__img{
	margin: 30px 2px;
	
}
.food1__img img{
	align-items: center;
}
.food1__img h1{
	color: red;
	margin-bottom: 30px;
}
.food1__img p{
	font-size: 18px;
	color: red;
}
.food1__img .btn{
	font-size: 20px;
	margin-top: 40px;
	padding: 10px 30px;
	background-color: red;
	color: white;
	border-radius: 20px;
	opacity: 0.8;
}
.food1__img .btn:hover{
	background: transparent;
	color: red;
}



.burger_contact{
    background: url("images/testimonila-bg.jpg");
    opacity: 0.8;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burger_contact_box{
	width: 50%;
	height: 300px;
	text-align: center;
	color: white;
}
.burger_contact_box p{
	font-size: 20px;
	margin-top: 100px;
}
.burger_contact_box h1{
	margin-top: 30px;
}

.burger_contact1{
    background: url("images/package-bg.jpg");
    opacity: 0.8;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burger_contact_box1{
	width: 80%;
	height: 300px;
	padding: 0px 50px;
	text-align: center;
	color: red;
}
.burger_contact_box1 h1{
	margin-top: 30px;
	font-size: 80px;
}
.burger_contact_box1 p{
	font-size: 20px;
	margin-bottom: 30px;
}
#email{
	width: 40%;
	height: 40px;
}
.burger_contact_box1 .btn{
	font-size: 20px;
	margin-top: 40px;
	padding: 5px 30px;
	background-color: red;
	color: white;
	border-radius: 0px 20px;
	opacity: 0.8;
}
.footer_box{
	width: 100%;
	height: 500px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
.footer_box1{
	width: 25%;
	height: 300px;
	margin: 20px 30px;
}
.footer_box1 p{
	margin-top: 20px;
}
.topbox .social__icon{
	list-style-type: none;
	display: flex;
	float: left;
	margin-top: 20px;
}
.footer_box1 li
{
	width: 40px;
	height:35px;
	line-height: 35px;
	background: white;
	text-align: center;
	margin-right: 10px;
	border-radius: 50%; 	
}
.footer_box1 li:hover{
	background: transparent;
}
.footer_box1 li a :hover{
	color: white;
}
.footer_box2{
	width: 20%;
	height: 300px;
	background-color:black;
	text-align: center;
	margin: 20px 30px;
}
.footer_box2 h2{
	margin-bottom: 20px;
}
.footer_box2 p{
	margin-top: 10px;
	font-size: 15px;
}

